@tailwind base;
@tailwind components;
@tailwind utilities;

.fc-button-primary {
  @apply bg-red-700 border-none text-xs rounded-sm md:text-base !important;
}

.fc-button-active {
  @apply bg-red-900 !important;
}

.fc-day-today {
  @apply bg-transparent !important;
}

.fc-button-group {
  @apply flex gap-1 !important;
}

.fc-toolbar-title {
  @apply text-base font-bold md:text-2xl !important;
}

.fc-col-header-cell-cushion {
  @apply text-xs !important;
}

.fc-timegrid-slot-minor {
  @apply border-none !important;
}

.fc-timegrid-slot-label-cushion {
  @apply text-xs !important;
}

.fc-event-main {
  @apply overflow-hidden !important;
}

.fc-event {
  @apply bg-transparent border-0 !important;
}

:root {
  --sx-color-primary: #8f001b !important;
}

.shadow-sx {
  box-shadow:
    0 24px 38px 3px rgba(0, 0, 0, 0.14),
    0 9px 46px 8px rgba(0, 0, 0, 0.12),
    0 11px 15px -7px rgba(0, 0, 0, 0.2);
}

/* For Webkit-based browsers (Chrome, Safari, and Opera) */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* For IE, Edge, and Firefox */
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* For WebKit browsers (Chrome, Edge, Safari) */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: rgba(100, 100, 100, 0.5);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(100, 100, 100, 0.7);
}

/* For Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: rgba(100, 100, 100, 0.5) transparent;
}
